# Dagshub Integration
DAGSHUB_USER_NAME="<YOUR_DAGSHUB_USERNAME_HERE>"
DAGSHUB_REPO_NAME="NLP_Final_Project"

# Supabase (for user feedback pipeline)
SUPABASE_URL=""
SUPABASE_SERVICE_KEY=""

# Inference Configuration
MLFLOW_RUN_ID=""
MODEL_CONFIDENCE_THRESHOLD="0.5"
