# Dagshub Integration
DAGSHUB_USER_NAME="<YOUR_DAGSHUB_USERNAME_HERE>"
DAGSHUB_REPO_NAME="final_project"

# Supabase (for user feedback pipeline)
SUPABASE_URL=""
SUPABASE_SERVICE_KEY=""

# Inference Configuration
USE_MLFLOW="true"
MLFLOW_MODEL_NAME="QA_Model"
MLFLOW_MODEL_ALIAS="latest"
MLFLOW_RUN_ID=""
MODEL_CONFIDENCE_THRESHOLD="0.5"
